body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  position: fixed;
  align-items: center;
  margin-top: -6px;
  background: white;
}

.left-nav {
  display: flex;
}

.left-nav div {
  margin: 0 10px;
}

.left-nav a {
  color: black;
  text-decoration: none;
}

.left-nav .link3 {
  font-weight: 600;
}

.mid-nav {
  display: flex;
  align-items: center;
}

.mid-nav img {
  height: 50px;
  align-self: center;
}

.right-nav {
  display: flex;
}

.right-nav button {
  background: #567b95;
  height: 35px;
  border: 1px solid#567b95;
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 10px;
  padding: 5px;
}

.right-nav .button1 {
  margin-right: 15px;
}

.title {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 100px 200px;
}

#titled {
  font-family: "Sorts Mill Goudy", serif;
  font-style: italic;
  font-size: 1.9rem;
  font-weight: bolder;
  margin-bottom: 25px;
}

section .img img {
  height: 39em;
  width: 59em;
}

.mainsection {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: -5rem;
}

.subsection1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column: 4/8;
  grid-gap: 10px;
}

.subsection1 .date-icons {
  grid-area: 2 / 1 / 2 / 2;
}

.subsection1 .icons {
  grid-area: 2 / 3 / 2 / 5;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}

.subsection1 .icons a {
  background: #eee;
  display: inline-block;
  border-radius: 40%;
  padding: 7px;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.subsection2 {
  /* grid-area: 2 / 4 / 6 / 8; */
  grid-column: 4/8;
  grid-auto-rows: minmax(100px, auto);
}

.subsection3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 3 / 9;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1em;
}

.subsection3 .img {
  grid-column: 1 / 5;
  grid-row: 1 / 5;
  z-index: -1;
  /* height: 220px; */
}

.subsection3 .img img {
  width: 100%;
}

.subsection3 .number1 {
  grid-area: 2 / 1 / 3 / 2;
  font-size: 10px;
}

.subsection3 .number2 {
  grid-area: 2 / 2 / 3 / 3;
  font-size: 10px;
}

.subsection3 .number3 {
  grid-area: 2 / 3 / 3 / 4;
  font-size: 10px;
}

.subsection3 .number4 {
  grid-area: 2 / 4 / 3 / 5;
  font-size: 10px;
}

.subsection3 .number5 {
  grid-area: 4 / 1 / 5 / 2;
  font-size: 10px;
}

.subsection3 .number6 {
  grid-area: 4 / 2 / 5 / 3;
  font-size: 10px;
}

.subsection3 .number7 {
  grid-area: 4 / 3 / 5 / 4;
  font-size: 10px;
}

.subsection3 .number8 {
  grid-area: 4 / 4 / 5 / 5;
  font-size: 10px;
}
